<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://exiletraining.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>exiletraining.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>exiletraining</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$exiletraining</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TableStorageConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=exiletraining;AccountKey=YaeEGjTx4rcHWhfqSW+IL+UNd9/0YdRzPyN4kS+k/i4kTfTpjOeM5F0xJKBaQrDrPnMr4UnpIAFPH9v4i21maQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TableStorageConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=exiletraining;AccountKey=YaeEGjTx4rcHWhfqSW+IL+UNd9/0YdRzPyN4kS+k/i4kTfTpjOeM5F0xJKBaQrDrPnMr4UnpIAFPH9v4i21maQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RedisConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="exiletraining.redis.cache.windows.net:6380,password=qfGdy5E6cMloia9uxwtGGOuKKOWeBFtiZOhtQaCOAlY=,ssl=True,abortConnect=False,connectRetry=3,connectTimeout=50000" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RedisConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="exiletraining.redis.cache.windows.net:6380,password=qfGdy5E6cMloia9uxwtGGOuKKOWeBFtiZOhtQaCOAlY=,ssl=True,abortConnect=False,connectRetry=3,connectTimeout=50000" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RedisConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TableStorageConnection-Web.config Connection String" />
  </ItemGroup>
</Project>